{% extends "layout.html" %}
{% block content %}
<section class="tm-banner">
    <div class="tm-container-outer tm-banner-bg">
        <div class="container">

            <div class="row tm-banner-row tm-banner-row-header">
                <div class="col-xs-12">
                    <div class="tm-banner-header">
                        <h1 class="text-uppercase tm-banner-title">Hola!</h1>
                        <img src="../static/img/dots-3.png" alt="Dots">
                        <p class="tm-banner-subtitle">Disfruta del contenido</p>
                        <a href="javascript:void(0)" class="tm-down-arrow-link"><i class="fa fa-2x fa-angle-down tm-down-arrow"></i></a>       
                    </div>    
                </div>  <!-- col-xs-12 -->                      
            </div> <!-- row -->
            <div class="row tm-banner-row" id="tm-section-search">

                <form action="/" method="POST" class="tm-search-form tm-section-pad-2" id="formulary">
                    <div class="form-row tm-search-form-row">                                
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label for="password" class="form-control" id="validate-password">Valida tu contraseña</label>
                            <div>
                                <input name="textpassword" type="text" class="form-control" id="password" placeholder="Ingrese la contraseña">
                            </div>
                        </div>
                        
                    </div> <!-- form-row -->
                    <div class="form-row tm-search-form-row">

                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-3">
                        </div>
                       
                        <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                            <label for="btnSubmit">&nbsp;</label>
                            <button type="submit" class="btn btn-primary btn-sam form-control tm-btn-search text-uppercase" id="btnSubmit">Verificar</button>
                            <button type="button" class="btn btn-primary btn-sam form-control tm-btn-search text-uppercase" id="btnInfo">
                                ¿Cómo debe ser la contraseña?
                            </button>
                        </div>
                    </div>                              
                </form>                             

            </div> <!-- row -->
            <div class="tm-banner-overlay"></div>
        </div>  <!-- .container -->                   
    </div>     <!-- .tm-container-outer -->                 
</section>

<section class="p-5 tm-container-outer tm-bg-gray">            
    <div class="container">
        <div class="row">
            <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
                <h2 class="text-uppercase mb-4">¿Te gustaría <strong>jugar?</strong>  </h2>
                <p class="mb-4"> Adivina el par de cartas que se esconden por detrás de las incognitas </p>
                <a href="/juego" class="text-uppercase btn-primary tm-btn">Jugar</a>                              
            </div>
        </div>
    </div>            
</section>
{% endblock %}