{% extends "layout.html" %}
{% block content %}
<!-- Services -->
<section class="page-section" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Sobre Nosotros</h2>
                <img src="../static/img/logo.png" alt="Site logo">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="../static/img/web.png" alt="Site logo" class="img-fluid">
                </span>
                <h4 class="service-heading">Pagina Web</h4>
                <p class="text-muted">Esta página fue diseñada con el propósito de ayudar a las personas a mejorar la
                    seguridad de sus contraseñas,
                    buscando que sus cuentas estén más protegidas contra a ataques de hackers. Además, cuenta con un
                    juego que le ayuda a mejorar la memoria,
                    consta de 5 niveles y con una temática dirigida hacia los componentes de un computador.


                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="../static/img/usuario.jpg" alt="Site logo" class="img-fluid">
                </span>
                <h4 class="service-heading">Kevin Moreno</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <img src="../static/img/usuario.jpg" alt="Site logo" class="img-fluid">
                </span>
                <h4 class="service-heading">Luis Puello</h4>
                <p class="text-muted">Estudiante de Ing. De Sistemas en la universidad del Magdalena, cursando el
                    séptimo semestre de la carrera. Con conocimiento e interés en C, C++, java, PHP, Python, JavaScript,
                    HTML, CSS, programación orientada a objetos y a la web. Actualmente haciendo un curso de ingles para
                    el trabajo y otro de Django.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}